@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Yanone+Kaffeesatz:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

/* Basic Stylings */

body {
    font-family: 'Cantarell', sans-serif;
    width: 100%;
    text-align: center;
    color: #28272D;
    margin: 0;
    background-color: #F5F5F5;
}

p {
    font-size: 1.25rem;
}

/* Header Stylings */

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Nav */

a {
    text-decoration: none;
    color: #28272D;
}

a:hover {
    color: orange;
}

#menu {
    list-style-type: none;
    padding: 0;
    font-size: 2em;
}

#menu li {
    display: inline;
    margin: auto 2em;
}

/* Main Image */

#main-image {
    margin: 0;
    height: 60vh;
    background: url(./images/ice.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-caption {
    color: #F5F5F5;
    font-style: italic;
    font-size: 3em;
}

/* Science section */

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.info-container div {
    width: 25%;
    margin: 1em;
}

.info-container div:hover {
    transition: .5s;
    border: 2px solid orange;
}

/* Dive Section */

#dive p {
    margin: 0 5vw;
}

.video {
    margin-top: 5vh;
    height: 60vh;
    width: 80vw;
}

.box {
    border: 2px solid #28272D;
    padding: 1em;
}

/* Commiting Section */

#commiting p {
    margin: 0 5vw;
    margin-bottom: 5vh;
}

#form-background {
    margin: 0;
    height: 60vh;
    background: url(./images/ice3.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.95;
}

form {
    width: 40%;
}

form label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4rem;
    color: orange;
}

form input {
    border: none;
    background: none;
    outline: none;
    border-bottom: 3px solid orange;
    width: 100%;
    font-size: 2rem;
    color: orange;
    font-style: italic;
    text-align: center;
}

form button {
    margin-top: 5vh;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: orange;
    background: none;
    border: none;
    font-size: 2rem;
}

form button:hover {
    border-bottom: 1px solid orange;
}

/* Socials Section */

#social ul {
    list-style-type: none;
    padding: 0;
}

#social li {
    display: inline;
    margin: 10vw;
    font-size: 2rem;
}

#social a:hover {
    color: orange;
    transition: .2s;
}

/* Back to Top Button */
#top {
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 5em;
    color: orange;
}

#top:hover {
    transition: 0.3s;
    color: #28272D;
}

/* MEDIA QUERIES MOBILE */
@media only screen and (min-width: 280px) and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }
    .info-container div {
        width: 100%;
    }
    #menu {
        font-size: 1em;
    }
    #image-caption {
        font-size: 2em;
    }
    form {
        width: 80%;
    }
    form label {
        font-size: 2rem;
    }
    form input {
        font-size: 1rem;
    }
    #dive iframe {
        height: 40vh;
    }
}

/* MEDIA QUERIES TABLET */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .info-container div {
        width: 40%;
    }
    #dive iframe {
        height: 30vh;
    }
}

/* MEDIA QUERIES LARGE DESKTOP */
@media only screen and (min-width: 1921px) and (max-width: 3840px) {
    h1 {
        font-size: 10em;
    }
    h2 {
        font-size: 6em;
    }
    h3 {
        font-size: 4em;
    }
    p {
        font-size: 2.5em;
    }
    #menu {
        font-size: 4em;
    }
    #social li {
        font-size: 6em;
    }
    form label {
        font-size: 6em;
    }
    form input {
        font-size: 4em;
    }
    form button {
        font-size: 4em;
    }

}

